.body-web {
  margin: 50px;
  overflow: auto;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  width: 100%;
}

.flex-container > div {
  color: white;
  width: 100px;
  margin: 10px;
  flex: 0 1 25%;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

@media (max-width: 800px) {
  .flex-container > div {
    max-width: 75%;
    flex: 0 1 30%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .flex-container > div {
    max-width: 100%;
    flex: 0 1 100%;
  }
}
