.conact-form {
  margin: 10px;
}

.subpageTitle {
  padding: 22px 0;
}
.u-bg10 {
  background-color: #eee !important;
}

.map {
  position: relative;
  border: 0px;
  height: 300px;
  width: auto;
}
.subpageTitle h1,
.subpageTitle h2,
.subpageTitle h3,
.subpageTitle h4,
.subpageTitle h5,
.subpageTitle h6 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #555;
  margin: 0;
}
.subpageTitle h1 {
  font-size: 45px;
}
#mainContent ul {
  margin-top: 10px;
}
.breadcrumb {
  padding: 18px 0;
  margin: 0;
  background: none;
  border-radius: 0;
}
#mainContent ul > li {
  margin-bottom: 5px;
}
.breadcrumb > li {
  color: #0d5cab;
  font-size: 12px;
  text-transform: uppercase;
}
.breadcrumb > li a {
  display: inline-block;
}
.breadcrumb > li img {
  position: relative;
  top: -1px;
}

#mainContent ul > li {
  margin-bottom: 5px;
}
.breadcrumb > li {
  color: #0d5cab;
  font-size: 12px;
  text-transform: uppercase;
}
.contactForm input[type="submit"] {
  font-family: "Roboto", sans-serif;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: #00aeef;
}
.contactForm input {
  font-family: "Roboto", sans-serif;
}
.contactForm textarea {
  font-family: "Roboto", sans-serif;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pageSidebar {
  padding: 20px;
}
